/*
body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1pixel bottom border and padding all the way around of 16 pixels */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
	font-family: "Roboto", sans-serif;
}
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background: #f8f7f3;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	border-radius: 10px;
	border: 2px solid #957335;
	background-color: #957335;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	/* display: inline-block;
	justify-content: center;
	text-align: center;
	align-items: center; */
}

h4 {
	text-align: center;
}
a:hover {
	background-color: #957335;
	color: #0091ff;
}

button {
	border-radius: 10px;
	border: 2px solid #957335;
	background-color: #957335;
	padding: 5px 10px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

button:hover {
	background-color: #957335;
	color: #0091ff;
}
main {
	padding: 16px;
}

nav {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	/* border-bottom: 1px solid black;
    border-radius: 1px color black; */
}

#phone {
	font-size: 100%;
	color: white;
}
.nav_grid {
	grid-template-rows: auto auto;
	align-items: center;
	justify-items: center;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	/* grid-template-rows: auto 100px; */
	grid-gap: 0px;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	/* grid-template-rows: auto 300px; */
	padding-top: 10px;
}

.nav_grid a {
	font-size: 100%;
}

p {
	font-size: 180%;
	color: white;
}

#nav_title {
	font-size: 5vw;
	margin-left: 5vw;

	color: white;
}

header {
	position: center;
	background-color: #ffffff;
	height: 400px;
}

footer {
	padding-bottom: 24px;
	text-align: center;
	padding-top: 24px;
	/* border-top: 1px solid black; */
	position: fixed;
	left: 00px;
	right: 00px;
	bottom: 0px;
	background-color: #ffffff;
}

.stripe tr:nth-child(even) {
	background-color: #dfdfdf;
}

.grids {
	/* display: grid; */
	grid-template-rows: auto auto;
	align-items: center;
	justify-items: center;

	display: grid;
	grid-template-columns: auto 4fr;
	/* grid-template-rows: auto 100px; */
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	/* grid-template-rows: auto 300px; */
	padding-top: 10px;
}

.image {
	grid-row: 1;
}

.star-ratings {
	grid-row: 2;
	font-size: 20px;
	display: inline-block;
	justify-content: center;
	position: relative;
	color: transparent;
}

/* .star-ratings::before {
	content: "★★★★★";
	display: block;
	position: center;
	top: 0;
	left: 0;
	color: #f7d94c;
} */

.star-ratings-front {
	z-index: 2;
	position: center;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #f7d94c;
	width: 100%; /* 3.5 stars out of 5 */
}

.star-ratings-back {
	color: #ccc;
}

.food_pictures {
	height: 200px;
	width: 200px;
	object-fit: cover;
	border-radius: 5%;
	/* width: 200px;
	height: 150px;
	object-fit: cover; */
}

.food_pictures_2 {
	height: 400px;
	object-fit: cover;
	border-radius: 5%;
	/* width: 200px;
	height: 150px;
	object-fit: cover; */
}

/* .grids {
	display: grid;
	grid-template-columns: auto 4fr;
	grid-template-rows: auto 100px;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: auto 300px;
	padding-top: 10px;

} */
